@import "typography.scss";

//
div.form{
  width: 100%;
  display: flex;
}

button.add-button{
  width: 100%;
  max-width: 15em;
  font-family: $list-font-stack;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  border: none;
  background-color: #ef914b;
  color: #fff;
  transition: 0.3s ease;
  &:hover{
    cursor: pointer;
    background-color: #f4663b;
  }
}



//input field
input#todo-list-input{
  font-size: 2em;
  font-family: $list-font-stack;
  padding: 0.5em;
  width: 100%;
}

//Add to list button



//Checked option
.checked {
  text-decoration: line-through;
}

//Close button
span.close {
  margin-right: 0.5em;
  background-color: #e4e3e4;
  padding: 0 0.3em;
  color: #868388;
  transition: 0.3s ease;
  &:hover{
    color: #fff;
    background-color: #ef914b;
    cursor: pointer;
  }
}
