@import "typography.scss";
@import "../helpers/variables";

//
div.form{
  width: 100%;
  display: flex;
}

button.add-button{
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  border: none;
  background-color: $orange;
  color: #fff;
  transition: 0.3s ease;
  &:hover{
    cursor: pointer;
    opacity: 0.5;
  }
  &:after{
    content: '+';
    padding: 0 0.5em;
    font-weight: 300;
  }
  border-radius: 0 0.3em 0.3em 0;
}



//input field
input#todo-list-input{
  font-size: 2em;
  font-family: $list-font-stack;
  padding: 0.5em;
  width: 100%;
  border: none;
  box-shadow: none;
  border-radius: 0.3em 0 0 0.3em;
}

//Add to list button



//Checked option
.checked {
  text-decoration: line-through;
}

//Close button
span.close {
  margin-right: 0.5em;
  padding: 0 0.5em;
  color: $medium-gray;
  opacity: 0.5;
  transition: 0.3s ease;
  &:hover{
    opacity: 1;
    cursor: pointer;
  }
}
