html{
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body{
  margin: 1em;
  padding: 0;
}

.wrapper{
  max-width: 96em;
  width: 100%;
  margin: auto;
}

ul.todo_list{
  padding: 0;
  margin: 0;
  width: 100%;
}

.list-item{
  padding: 1em;
  margin: 0.25em auto;
  background-color: #ededed;
  transition: 0.3 ease;
}

li{
  @extend .list-item;
  display: flex;
  justify-content: space-between;
  transition: 0.3s ease;
  &:hover{
    cursor: pointer;
    opacity: 0.8
  }
}
